<h3>New Cocktail</h3>
<%= simple_form_for @cocktail, url: cocktails_path, method: :post do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.submit 'Create cocktail', class: 'btn btn-primary' %>
<% end %>
