<h3>New Ingredient</h3>
<%= simple_form_for [@cocktail, @dose], url: cocktail_doses_path, method: :post do |f| %>
  <%= f.input :cocktail, input_html: { value: @cocktail.name } %>
  <%= f.input :description %>
  <%= f.association :ingredient, label_method: :name %>
  <%= f.submit 'Add ingredient', class: 'btn btn-primary' %>
<% end %>
