<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <nav class="navbar bg-dark-lg p-3">
      <h1 class="dull-shadow m-0"><%= link_to 'Mister Cocktail', cocktails_path, class: 'text-success' %></h1>
      <%= link_to 'New Cocktail', new_cocktail_path, class: "btn btn-outline-success" %>
    </nav>

    <div class="container py-3">
      <%= yield %>
    </div>

  </body>
</html>
